.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 3%;
    margin-top: 25%;

  }
  
  .example-full-width {
    width: 100%;
  }

  .cssofbtn{
    margin-right: 10px;
  }